.bookInfo
  margin: 0 auto

  h1, h2
    user-select: text

  h1
    font-style: italic

  h2
    margin-bottom: 0
    font-size: 2.4rem

  .col:last-child
    > div:first-child
      margin-bottom: 3rem

.rating
  display: flex

  p
    font-size: 3.6rem
    font-size: 2.4rem
    width: 5rem
    line-height: 0
    height: 3.2rem
    display: flex
    align-items: center
    position: relative
    letter-spacing: 0.2ch

    &.unrated
      color: $mid3
      top: -0.3rem

  input[type="range"]
    max-width: 9.9rem
    margin: 0
    padding: 0

.bookMeta
  margin: 3rem auto
  display: flex

  > div
    display: flex
    flex-direction: column
    padding: 1rem 0
    flex: 1
    padding-right: 2rem

    &:last-child
      display: flex
      flex-direction: column
      justify-content: space-between
      border-left: 1px solid $fg
      padding-right: 0
      padding-left: 2rem

  h5
    margin-bottom: 1rem
    font-weight: 500

  .tags
    padding: 0
    text-align: left

.related
  li
    font-size: 2rem
    line-height: 1.3

    + li
      margin-top: 1rem

  .embeddingProgress
    margin: 4rem 0

.tags
  padding: 0 4rem
  text-align: center
  max-width: 150rem
  margin: 0 auto
