.entries
  width: 100%
  margin: 0 auto
  margin-bottom: 8rem
  display: flex
  flex-direction: column
  align-items: center

.entry
  width: 100%
  padding-top: 4rem
  margin-bottom: 2rem
  position: relative

  details
    margin-top: 3rem

  summary
    cursor: pointer
    font-size: 3rem
    margin-bottom: 2rem

    &::marker
      font-size: 2rem

  .tabs
    margin-top: 1.2rem
    opacity: 0
    @include fade

    &.active
      opacity: 1

    button:last-child
      text-transform: unset

  hr
    opacity: 0
    @include fade

  .bookmark, .favorite
    position: relative
    width: 8px
    transform: translateZ(0.1px)
    // height: 11px
    // width: 1.6rem
    margin: 0.6rem 0
    opacity: 0
    @include fade

    &.active
      opacity: 1

  img
    width: 100%

  .favorite
    width: 15.33px
    margin-right: -3.3px

  &:hover
    .tabs, hr
      opacity: 1

    .meta
      .page, a, .bookmark, .favorite
        opacity: 1

  .wait
    font-size: 1.8rem
    padding: 4rem 0
    font-style: italic

  &.permalink
    figure > cite
      font-size: 2.4rem
      margin: 4rem 0
      margin-bottom: 6rem

    .favorite
      margin-top: 1rem

blockquote
  font-size: 2.4rem
  line-height: 1.8
  user-select: text
  hyphens: auto

.meta
  position: absolute
  transform: translateX(-100%)
  display: flex
  flex-direction: column
  align-items: flex-end
  padding-right: 2rem
  font-size: 1.4rem
  margin-top: 0.4rem
  text-align: right
  line-height: 2

  .page, a
    opacity: 0
    position: relative
    @include fade

.detailsToggle
  position: absolute
  transform: translateX(-100%)
  color: $mid2
  padding: 2rem 2rem 0 0
  opacity: 0

  &.active
    > span
      color: $fg
      transform: rotate(90deg)

  > span
    transition: all 0.2s
    display: inline-block
    font-size: 1.2rem

  &:hover
    .hint
      opacity: 1

.details
  section:not(.relatedExcerpts)
    padding: 3rem 0

  + hr
    opacity: 1

.neighbors
  margin: 4rem 0

.snippet
  $size: 1.8rem
  position: relative
  margin-bottom: 4rem

  > a
    text-decoration: none

  &:hover
    .clone
      display: block
      z-index: 1
      outline: 1px solid $mid1
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1)

  blockquote
    font-size: $size
    overflow: hidden
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 3

  mark
    background: none
    box-shadow: inset 0 -8.5px 0 yellow

  cite
    font-size: $size
    margin-top: 1.5rem

  .clone
    $pad: 3rem
    position: absolute
    width: calc(100% + #{$pad} * 2)
    top: -$pad
    left: -$pad
    background: $bg
    display: none
    padding: $pad

    blockquote
      overflow: visible
      -webkit-line-clamp: unset

.score
  font-size: 1.2rem
  font-weight: 500
  position: relative

cite
  display: flex
  flex-wrap: wrap
  font-style: normal
  line-height: 1.5

  > *
    flex-shrink: 0

  .divider
    margin: 0 .4em
    color: $mid2

  .score
    margin-left: auto
    display: flex
    align-items: center

    span
      font-size: 1.2rem

.notes
  textarea
    border-color: $mid2

    &:focus
      border-color: $fg
