.import
  section
    display: flex
    margin-top: 4rem

    .buttonStack
      flex: 1

      &:first-child
        padding-right: 6rem
        border-right: 1px solid $mid3

      &:last-child
        padding-left: 6rem

  code
    font-family: $monoFont
    font-size: 1.3rem

  details
    margin-top: 2rem

  summary
    margin-bottom: 1rem

  ol
    list-style: lower-roman

  li
    margin-bottom: 1.6rem
