$inset: 1.6rem

.logo, .toolbar
  z-index: 99

.logo
  position: fixed
  top: $inset
  left: $inset
  width: 6rem

  img
    width: 100%

.toolbar
  position: fixed
  top: $inset
  right: $inset
  display: flex
  flex-direction: column
  align-items: center
  margin-left: auto
  padding-top: 1rem

  a, button
    display: flex
    align-items: center
    font-size: 2.8rem
    line-height: 0.4
    margin-bottom: 2rem

  .random
    width: 80%

  img
    width: 2rem
