$font: 'EB Garamond', serif
$monoFont: Consolas, Monaco, Courier, monospace

$bg: #fff
$mid1: #ddd
$mid2: #ccc
$mid3: #aaa
$mid4: #777
$fg: #333
$accent: #0000ff

$baseFontSize: 1.6rem
$maxWidth: 80rem

@mixin fade
  transition: opacity 0.2s

@mixin mobile
  @media(max-width: 733px)
    @content

@mixin touch
  @media(hover: none)
    @content
