$font: 'Libre Baskerville', serif
$black: #000
$white: #fff
$gray: #aaa
$lightGray: #eee
$highlight: #ffff00
$actionUnderline: 2px dotted $gray

*
  box-sizing: border-box
  margin: 0
  padding: 0
  user-select: none


::selection
  background: $highlight
  color: $black
  text-shadow: none


::-webkit-scrollbar
  width: 5px
  background-color: rgba(0, 0, 0, 0)


::-webkit-scrollbar-thumb
  background-color: $lightGray

html
  font-size: 10px

body
  background-color: $white
  color: $black
  font-family: $font
  font-size: 1.4rem
  display: flex


a
  text-decoration: none
  color: $black
  border-bottom: $actionUnderline

  &:hover
    color: $gray


ul, li
  list-style: none


.hidden
  visibility: hidden


#container
  padding: 5rem
  padding-top: 3rem
  width: 100vw
  height: 100vh
  overflow: hidden
  display: flex
  flex-direction: column

  &.drag-on
    opacity: 0.5


#about
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: $white
  padding: 8rem
  padding-top: 5rem
  font-size: 1.8rem
  line-height: 1.8

  .x
    transform: none
    position: absolute
    line-height: 1
    left: 2.5rem
    font-size: 5rem

  h1
    font-size: 3rem

  h1, p, a
    margin-bottom: 2rem
    user-select: text


main
  position: relative
  display: flex
  overflow: hidden
  flex: 1
  border: 1px solid $lightGray


.focus-mode
  #sidebar
    display: none

  .editing
    opacity: 0

    &:hover
      opacity: 1


#sidebar
  height: 100%
  overflow: auto
  border-right: 1px solid $lightGray
  flex: 3

  &:hover
    opacity: 1


.intro
  font-weight: normal
  align-self: center


#viewer
  flex: 7
  display: flex
  justify-content: center
  line-height: 1.8
  overflow: auto
  font-size: 1.8rem
  position: relative

  > div
    max-height: 100%
    width: 100%
    max-width: 100rem
    padding: 5vw

  blockquote
    user-select: text

  .title, .author, .page
    user-select: text

  cite
    font-style: normal


#sidebar
  li
    border-bottom: 1px solid $lightGray
    cursor: pointer
    line-height: 1.5
    overflow: hidden
    position: relative

    a
      display: block
      padding: 4rem 2rem


.active-entry
  position: absolute
  width: 4rem
  height: 2rem
  background-color: $black
  transform: rotate(-45deg)
  transform-origin: 50% 50%
  left: -2rem
  top: -1rem


.highlight
  background-color: $highlight


blockquote
  word-break: break-word


.title, .author
  cursor: pointer
  display: block

  &:hover
    color: $black


.title
  margin-top: 2rem
  font-style: italic


.no-results
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  font-style: italic


#meta
  color: $gray
  position: absolute
  padding: 10rem 0
  font-size: 1.4rem


.focus-mode header
  opacity: 0


header
  display: flex
  margin-bottom: 2rem
  transition: opacity 0.2s ease-out

  &:hover
    opacity: 1

  h1
    font-weight: bold
    font-size: 2.2rem
    margin-bottom: 0.6rem

    span
      font-style: normal
      margin-right: 0.6rem


  > div:first-child
    flex: 3


#entry-count
  font-size: 1.4rem


#tools
  flex: 7
  display: flex
  align-items: center
  justify-content: space-between

  > div
    display: flex
    height: 100%


.tool-button
  cursor: pointer
  margin-right: 2rem

  &:hover
    opacity: 0.5


#filters
  flex-direction: column


#filter-links
  white-space: nowrap
  margin-bottom: 1rem

  span
    color: $gray
    cursor: pointer

    &.active
      color: $black

    &::after
      display: inline-block
      content: '•'
      margin: 0 1rem
      color: $gray
      cursor: default

    &:last-child::after
      content: ''


#search
  display: flex


#actions
  span
    font-size: 2.4rem
    margin-right: .5rem
    transform: translateY(0.2rem)
    display: inline-block


input
  border: none
  border-bottom: 1px solid $gray
  font-family: $font
  padding: 0
  padding-top: 0.2rem
  padding-bottom: 0.4rem
  outline: none
  font-size: 1.6rem
  width: 100%

  &:focus
    border-color: $gray

  &::placeholder
    font-style: italic
    color: $gray


select
  opacity: 0
  position: absolute
  width: 100%
  cursor: pointer


.select
  display: flex
  align-items: center
  position: relative

  select
    height: 4rem


  > div
    position: relative
    max-width: 40rem
    overflow: hidden
    transform: translateY(0.2rem)
    cursor: pointer
    margin-right: 0.6rem

  h5
    font-size: 1.6rem
    font-weight: normal
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    border-bottom: 2px dotted $lightGray
    padding-right: 0.2rem
    padding-bottom: 0.3rem
    margin-bottom: 0.2rem

    &.no-filter
      font-style: normal
      font-weight: normal
      color: $gray


.select-titles h5
  font-style: italic


.x
  color: $black
  cursor: pointer
  font-size: 2.4rem
  position: absolute
  transform: translateX(-150%) translateY(-5%)

  &:hover
    color: $gray


.editing
  margin-top: 2rem
  transition: opacity 0.2s ease-out

.hide-button
  width: 2.6rem
  height: 2.6rem
  display: flex
  align-items: center
  justify-content: center
  font-size: 2.6rem
  line-height: 0
  cursor: pointer
  border: 1px solid $black
  color: $black
  position: relative
  margin-top: 2rem

  &:hover
    background-color: $black
    border-color: $black
    color: $white

    &::after
      display: block

  &::after
    display: none
    content: 'Delete this entry'
    color: $black
    line-height: 1
    font-size: 1.4rem
    position: absolute
    left: 150%
    width: 30rem

.tags
  margin-top: 5rem
  margin-bottom: 3rem

.tag
  display: inline-block
  margin-right: 4rem
  margin-right: 1rem
  font-size: 1.4rem
  position: relative

  .x
    transform: translateX(-135%) translateY(-20%)
    display: none


.tag-title
  border-bottom: 2px dotted $gray
  margin-right: 1.2rem

  &:hover
    color: $black
    cursor: pointer


.tag-remove
  cursor: pointer
  font-size: 2.2rem
  color: $black
  display: none


.edit-mode
  .tag
    margin-right: 3rem

  .tag-title
    border: none
    pointer-events: none

  .x
    display: inline-block


.tag-input
  position: relative
  margin-top: 2rem

  input
    width: 20rem

    &:focus + .tag-list
      display: block


.tag-list
  display: none
  position: absolute
  width: 20rem
  max-height: 14rem
  overflow: auto
  background-color: $lightGray
  color: $black
  font-size: 1.4rem
  z-index: 99

  &:active
    display: block

  li
    display: block
    cursor: pointer
    padding: 0.5rem 1rem

    &:hover
      background-color: $black
      color: $white


.edit-button
  display: inline-block
  cursor: pointer
  border: 1px solid $gray
  padding: 1rem 2rem
  margin-top: 2rem
