$font: 'Libre Baskerville', serif
$black: #000
$white: #fff
$gray: #aaa
$lightGray: #eee
$highlight: #ffff00
$actionUnderline: 2px dotted $gray

*
  box-sizing: border-box
  margin: 0
  padding: 0
  user-select: none

::selection
  background: $highlight
  color: $black
  text-shadow: none

::-webkit-scrollbar
  width: 5px
  background-color: rgba(0, 0, 0, 0)

::-webkit-scrollbar-thumb
  background-color: $lightGray

html
  font-size: 10px

body
  background-color: $white
  color: $black
  font-family: $font
  font-size: 1.4rem
  display: flex

a
  cursor: pointer
  text-decoration: none
  color: $black
  border-bottom: $actionUnderline

  &:hover
    color: $gray

button
  font-family: $font
  font-size: 1.2rem
  padding: 0.5rem
  background-color: $white
  border: 1px solid $black
  box-shadow: 2px 2px 0 0 $black
  outline: none
  cursor: pointer
  position: relative
  top: 0
  left: 0
  transition: all .15s
  color: $black

  &:active
    box-shadow: 0 0 0 0 $black
    top: 2px
    left: 2px

ul, li
  list-style: none

.hidden
  visibility: hidden

.small-caps
  font-variant: small-caps

#container
  padding: 5rem
  padding-top: 3rem
  padding-bottom: 0
  width: 100vw
  height: 100vh
  overflow: hidden
  display: flex
  flex-direction: column
  min-width: 557px

#intro
  justify-content: center

#instructions
  margin-bottom: 3rem

#about
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: $white
  padding: 8rem
  padding-top: 5rem
  font-size: 1.8rem
  line-height: 1.8
  display: flex
  justify-content: center
  overflow: auto

  .info-page
    max-width: 50rem !important

  .big
    margin-bottom: 10rem

  .hide-button
    position: absolute
    right: 2rem
    top: 2rem

    div
      background-color: $black
      border-color: $black
      color: $white
      margin: 0

    &:hover
      div
        background-color: $white
        border-color: $gray
        color: $gray

  h1
    font-size: 3rem

  h1, p, a
    margin-bottom: 2rem
    user-select: text

.col-2
  display: flex
  justify-content: space-between

  > div
    vertical-align: top

main
  position: relative
  display: flex
  overflow: hidden
  flex: 1
  border: 1px solid $lightGray
  transition: border-color 0.2s ease-out

#container.focus-mode
  padding-bottom: 0

#container.focus-mode.empty
  padding-bottom: 5rem

.focus-mode
  header
    opacity: 0

  main
    border-color: transparent

  #sidebar
    display: none

  #entry-tools
    opacity: 0

    &:hover
      opacity: 1

#sidebar
  overflow-y: scroll
  border-right: 1px solid $lightGray
  flex: 3

  li
    border-bottom: 1px solid $lightGray
    cursor: pointer
    line-height: 1.5
    overflow: hidden
    position: relative
    padding: 2rem
    height: 9rem

    blockquote
      white-space: nowrap
      text-overflow: ellipsis
      width: 100%
      overflow: hidden

    .title
      color: $gray
      margin-top: 1rem
      white-space: nowrap
      text-overflow: ellipsis
      width: 100%
      overflow: hidden

  &.no-titles
    li
      height: 6rem

.info-page
  font-weight: normal
  padding: 4rem !important
  max-width: 70rem !important

  *
    user-select: text

  p
    hyphens: auto
    margin-bottom: 1.2rem

    &.big
      font-size: 2.4rem
      margin-bottom: 4rem

    &.error
      text-align: center
      cursor: pointer

  ol
    font-size: 1.4rem

  li
    list-style: lower-roman
    margin-bottom: 2rem

  footer
    font-size: 1.2rem
    font-style: italic
    margin-top: 6rem
    margin-bottom: 4rem

  h4
    margin-bottom: 1rem
    margin-top: 5rem

    em
      font-weight: normal

#viewer
  flex: 7
  display: flex
  justify-content: center
  line-height: 2
  overflow-y: scroll
  font-size: 1.8rem
  position: relative

  > div
    width: 100%
    max-width: 100rem
    padding: 4rem 5vw
    display: flex
    flex-direction: column

  blockquote
    user-select: text
    hyphens: auto

  .title, .author, .page
    user-select: text

  cite
    font-style: normal

  h3
    font-weight: normal
    margin-bottom: 5rem

.active-entry
  position: absolute
  width: 4rem
  height: 2rem
  background-color: $black
  transform: rotate(-45deg)
  transform-origin: 50% 50%
  left: -2rem
  top: -1rem

.highlight
  background-color: $highlight

blockquote
  word-break: break-word

.sep
  margin: 0 0.6rem

.title, .author
  cursor: pointer

  &:hover
    color: $black

.title
  font-style: italic

.no-results
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  font-style: italic

#meta
  color: $gray
  padding-top: 10rem
  font-size: 1.4rem

header
  display: flex
  margin-bottom: 2rem
  transition: opacity 0.2s ease-out

  &:hover
    opacity: 1

  > div:first-child img
    width: 6.4rem
    transform: translateX(-37%)
    transform: translateX(-18%)

  h1
    font-weight: bold
    font-size: 2.2rem
    margin-bottom: 0.6rem

    span
      &:first-child
        font-style: normal
        margin-right: 0.6rem

  > div:first-child
    flex: 3
    display: flex
    align-items: center

#entry-count
  font-size: 1.4rem
  cursor: pointer

  span
    font-size: 1.2rem

#tools
  flex: 7
  display: flex
  align-items: center
  justify-content: space-between

  > div
    display: flex
    height: 100%

.tool-button
  cursor: pointer

  &:hover
    opacity: 0.5

#filters
  flex-direction: column

#filter-links
  white-space: nowrap
  margin-bottom: 1rem

  span
    color: $gray
    cursor: pointer

    &:hover
      text-decoration: underline

    &.active
      color: $black
      pointer-events: none

      &:hover
        text-decoration: none

    &::after
      display: inline-block
      content: '•'
      margin: 0 1rem
      color: $gray
      cursor: default

    &:last-child::after
      content: ''

#search
  display: flex

#actions
  align-items: center
  justify-content: center

  img
    height: 1.6rem

  div
    position: relative
    display: flex
    align-items: center
    justify-content: center
    margin-left: 2rem
    height: 2.5rem
    cursor: pointer

    &:first-child img
      height: 1.4rem

    &:last-child img
      height: 1.8rem

    &:hover
      label
        opacity: 1

  label
    position: absolute
    top: -100%
    opacity: 0
    transition: opacity 0.2s ease-out
    font-style: italic
    pointer-events: none

  span
    font-size: 2.4rem
    transform: translateY(0.2rem)
    display: inline-block
    margin-left: 1.4rem

input, textarea
  font-family: $font
  outline: none
  border: 1px solid $lightGray
  color: $black

  &::placeholder
    color: $gray

input
  border: none
  border-bottom: 1px solid $gray
  padding: 0
  padding-top: 0.2rem
  padding-bottom: 0.4rem
  font-size: 1.6rem
  width: 100%

textarea
  padding: 1rem
  font-family: Consolas, Monaco, Courier, monospace
  font-size: 1.4rem
  resize: none
  display: block
  width: 100%
  height: 6rem

  &::placeholder
    color: white

select
  opacity: 0
  position: absolute
  width: 100%
  cursor: pointer

.select
  display: flex
  align-items: center
  position: relative

  select
    height: 4rem

  > div
    position: relative
    max-width: 40rem
    overflow: hidden
    transform: translateY(0.2rem)
    cursor: pointer
    margin-right: 0.6rem

  h5
    font-size: 1.6rem
    font-weight: normal
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    border-bottom: $actionUnderline
    padding-right: 0.2rem
    padding-bottom: 0.3rem
    margin-bottom: 0.2rem

    &.no-filter
      font-style: normal
      font-weight: normal
      color: $gray

.select-titles h5
  font-style: italic

.x
  color: $black
  cursor: pointer
  font-size: 2.4rem
  position: absolute
  transform: translateX(-150%) translateY(-5%)

  &:hover
    color: $gray

#entry-tools
  margin-top: 2rem
  width: 70%
  transition: opacity 0.2s ease-out
  color: $gray
  font-size: 1.4rem

  section
    padding: 2rem 0

    &:first-child
      border: none

  h5
    margin-bottom: 2rem
    font-weight: normal
    font-size: 1.4rem
    color: #000
    font-style: italic

.hide-button
  display: inline-flex
  align-items: center
  cursor: pointer
  position: relative

  div
    width: 2.6rem
    height: 2.6rem
    display: inline-flex
    align-items: center
    justify-content: center
    font-size: 2.6rem
    line-height: 0
    border: 1px solid $lightGray
    color: $lightGray
    margin-right: 1rem

  &:hover
    div
      background-color: $black
      border-color: $black
      color: $white

    span
      display: inline-block

  span
    font-style: italic
    font-size: 1.4rem
    position: absolute
    left: 3.6rem
    width: 30rem
    display: none
    pointer-events: none

#tags
  margin-bottom: 2rem

.tag
  display: inline-block
  margin-left: -1.2rem
  margin-right: 1.4rem
  font-size: 1.4rem
  position: relative

  .x
    position: relative
    left: -0.2rem
    top: 0.4rem
    opacity: 0
    transition: opacity .2s ease-out
    line-height: 0

  &:hover
    cursor: pointer
    .x
      opacity: 1

      &:hover + .tag-title
        color: $black

    .tag-title
      color: $gray

.tag-title
  border-bottom: $actionUnderline
  margin-right: 1.2rem

.tag-remove
  cursor: pointer
  font-size: 2.2rem
  color: $black
  display: none

.edit-mode
  .tag
    margin-right: 3rem

  .tag-title
    border: none
    pointer-events: none

  .x
    display: inline-block

.tag-input
  position: relative

  input
    width: 12rem
    font-size: 1.4rem
    border-bottom-color: $lightGray

    &:focus
      border-bottom-color: $gray

      + .tag-list
        display: block

  button
    margin-left: 1rem

@media (max-width: 720px)
  #entry-count
    visibility: hidden

@media (max-height: 1000px)
  #intro
    justify-content: flex-start
    padding-top: 6rem !important

@media (max-width: 720px)
  .col-2
    display: block
